* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    color: #000000;
    background: #000000;
}
#avatarContainer{
    color: #e4ecf1;
    padding: 50px 0 0 0;
}
#avatar{
    border-radius: 50%;
    border: #e4ecf1 solid;
}
#avatar:hover{
    border: #66fcf1 solid 5px; 
}
#title{
    padding: 5px 0;   
}
.iconBorder{
    background: white; 
    border-radius: 50%; 
    border: #19242c solid;
    height: 50px;
}
.iconBorder:hover{
    border: #66fcf1 solid; 
}
.heading{
    border: #66fcf1 solid;
    text-align: center;
    background: #1f2833;
    padding: 5px;
    color: #e4ecf1;
}
.entry{
    padding: 5px;   
}
.entry > span:first-child {
    margin-right: 5px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
#footerContainer{
    text-align: center;
    color: #000000;
    background: #45a29e;
    padding: 15px;
    bottom:0px;
}
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #66fcf1;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
/* Container around content */
.timelineContainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
/* The circles on the timeline */
.timelineContainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #45a29e;
    border: 4px solid #c5c6c7;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
/* Place the timelineContainer to the left */
.left {
    left: 0;
}
/* Place the timelineContainer to the right */
.right {
    left: 50%;
}
/* Add arrows to the left timelineContainer (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}
/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    border: #000000 solid;
}
.sidenav {
    height: 100%; 
    width: 25%; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #45a29e; 
    overflow-x: hidden; 
    padding-top: 20px;
    border-right: #66fcf1 solid 5px;
  }  
  #contentContainer {
    margin-left: 25%; 
    padding: 0px 10px;
  }
/* Media queries - Responsive timeline on screens less than 600px wide */
@media(max-width: 600px) {
    .bio{
        padding: 2%;
    }
   /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
   }
   /* Full-width containers */
    .timelineContainer {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
   }
   /* Make sure that all arrows are pointing leftwards */
    .timelineContainer::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
   }
   /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
   }
   /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
   }
}
